### system files to ignore
**.DS_store

### types of files to ignore
.docx
.pptx

### subfolders to ignore; will need to update as course goes on
R/
RNA-seq/
final_project

### specific files to ignore
journal_club_assignment/2020-07-10_how_to_read_science_paper.pptx
